* {
	box-sizing: border-box;
  line-height: 1.5;
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 28px;
  list-style-type: none;
}

#gridContainer {
  display: grid;
  grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto auto;

	grid-template-areas: "header  header"
											 "menu    menu"
											 "team1   team2"
											 "team3   team4"
                       "footer  footer";
}

#gridContainer>nav#menu {
  display: none; 
  border: 1px solid black;
}

div#menuMobile>nav#collapsableMenu {
  display: none;
  background-color: #fff;
  border: 1px solid #000;
  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
}

div#menuMobile>nav#collapsableMenu:target {
  display: block;
  position: fixed;
}

#gridContainer>section#team1 {
  border: 1px solid #c2c0c0;
}

#gridContainer>section#team2 {
  border: 1px solid #c2c0c0;
}

#gridContainer>section#team3 {
  border: 1px solid #c2c0c0;
}

#gridContainer>section#team4 {
  border: 1px solid #c2c0c0;
}

.spelerinfo {
  background-color: #bfbcb4;
}

#gridContainer>footer {
	grid-area: footer;
  height: 110px;
  background-color: #f1f1f1!important;;
  color: #000;
  text-align: center;
  line-height: 2;
  height: 100px;
  padding: 26px 0 24px;
	}


#logo {
  height: 100px;
  margin-left: auto;
}

img {
    min-width: 138px;
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
	#gridContainer {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas: "header  header  header  header"
												 "menu    menu    menu    menu"
												 "team1   team2   team3   team4"
												 "footer  footer  footer  footer";
	  padding: 30px;
  }
  
  #logo {
    margin-left: 500px;
  }
  
    div#menuMobile {
    display: none;
  }

  #gridContainer>nav#menu {
		grid-area: menu;
    display: block;
    
	}
  
  #gridContainer>section#team1 {
		grid-area: team1;
    padding: 16px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    border: 1px solid #c2c0c0;
	}
  
  #gridContainer>section#team2 {
		grid-area: team2;
    padding: 16px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    border: 1px solid #c2c0c0;
	}
  
  #gridContainer>section#team3 {
		grid-area: team3;
    padding: 16px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    border: 1px solid #c2c0c0;
	}
  
  #gridContainer>section#team4 {
		grid-area: team4;
    padding: 16px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    border: 1px solid #c2c0c0;
	}
  

  
  #gridContainer>footer {
		grid-area: footer;
    padding: 45px;
	}
  
  img {
    min-width: 138px;
    max-width: 100%;
    height: auto;
}
  }
  










